 <div id="featured-hotel" class="fh5co-bg-color">
    <div class="container">
      
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2>Featured Articles</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <!--
        <div class="feature-full-1col">
          <div class="image">
            <img src="">
          </div>
          <div class="desc">
            <h3>Deluxe Hotel</h3>
            <p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur ac interdum a, pulvinar ac massa. Nullam malesuada congue </p>
            <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
          </div>
        </div>
-->
        <div class="feature-full-2col">
          <% @articles.each do |article| %>
            <div class="f-hotel">
              <div class="image">
                <% if article.image = "" %>
                  <img src="http://www.kalahandi.info/wp-content/uploads/2016/05/sorry-image-not-available.png" style="height: 100%; width: 100%;">
                <% else %>
                  <img src="<%= article.image %>" style="height: 100%; width: 100%;">
                <% end %>
              </div>
              <div class="desc">
                <h3><%= article.article_title %></h3>
                <p><%= article.summary %></p>
                <p><a href="/articles/<%= article.article_title %>" class="btn btn-primary btn-luxe-primary">Go to Article!<i class="ti-angle-right"></i></a></p>
              </div>
            </div>
            <% end %>
        </div>
      </div>

    </div>
  </div>