<h3><a href="<%= @article.url %>"><%= @article.article_title %></a></h3>

<%= link_to "Save Article", "/articles", method: :post, class: "btn btn-primary"%>
<div>
  <p><%= @article.content %></p>
</div>