 <div class="fh5co-parallax" style="background-image: url(/images/study-stuff.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
          <div class="fh5co-intro fh5co-table-cell">
            <div id="search-div">
          <h1 id="wikipedia-heading">Academia Search</h1>
          <div class="col-md-8 col-md-offset-2">
            <input id="searchTerm" name="search" placeholder="Search..">
            <button id='search' type="button" class ="btn btn-warning">Submit</button>
            <!--<a id="randomArticleSearch" class="btn btn-warning">Random</a></br>
            <h3>href="https://en.wikipedia.org/wiki/Special:Random"</h3>-->
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div id="featured-hotel" class="fh5co-bg-color">
    <div class="container">
      <div class="row">
        <div id="search-div">
          <div id="output" class="col-md-10 col-md-offset-1"></div>
        </div>

    </div>
  </div>