<div class="container user-log">
  <h1>Sign up!</h1>
  <%= form_tag '/api/v1/users', method: :post do %>
    <div>
      Name: <input type="string" name="name">
    </div>
    <div>
      Email: <input type="email" name="email">
    </div> 
    <div>
      Password: <input type="password" name="password">
    </div>
    <div>
      Confim Password: <input type="password" name="password_confirmation">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  <% end %>
</div>